.angela {
  display: none;
}

.dwight {
  display: none;
}

.michael {
  display: none;
}

.kevin {
  display: none;
}

.pam {
  display: none;
}
#checkbox {
margin: 10%;
padding: 40px;
border:solid lightskyblue;
border-radius: 30px;
}
img{
  margin-left: 40%;
}
